app-header {

  ion-toolbar .toolbar-background {
    display: none;
  }

  .logo-wrapper {
    order: 0;
  }

  .header-logo {
    max-height: 50px;
  }

  .menu-button {

  }
  
  .menu-icon {

  }
}
